<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSGO_Score_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSGO_Score_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CSGO_Score_Generator.My.MySettings>
            <setting name="HalfTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KnifeRound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlowDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReportBuys" serializeAs="String">
                <value>False</value>
            </setting>
        </CSGO_Score_Generator.My.MySettings>
    </userSettings>
    <applicationSettings>
        <CSGO_Score_Generator.My.MySettings>
            <setting name="SupportedTeams" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>{{"G2", "shox", "apEX", "kennyS", "NBK-", "bodyy", "80"},</string>
                        <string>{"North", "MSL", "K0NFIG", "cajub", "aizy", "valde", "50"},</string>
                        <string>{"Validus.GG", "fadeless", "smokey2k", "chewy", "Synisty", "murf", "80"},</string>
                        <string>{"fnatic", "flusha", "KRIMZ", "JW", "Golden", "Lekr0", "70"},</string>
                        <string>{"SK", "fer", "coldzera", "FalleN", "TACO", "felps", "60"},</string>
                        <string>{"FaZe", "karrigan", "olofmeister", "Guardian", "NiKo", "rain", "65"},</string>
                        <string>{"Astralis", "Xyp9x", "dupreeh", "device", "gla1ve", "Kjaerbye", "40"},</string>
                        <string>{"Gambit", "AdreN", "Dosia", "mou", "HObbit", "fitch", "40"},</string>
                        <string>{"Natus Vincere", "Edward", "Zeus", "seized", "flamie", "s1mple", "50"},</string>
                        <string>{"Immortals", "kNgV-", "steel", "HEN1", "LUCAS1", "boltz", "90"},</string>
                        <string>{"Virtus.Pro", "TaZ", "NEO", "pashaBiceps", "Snax", "byali", "30"},</string>
                        <string>{"Cloud9", "Skadoodle", "RUSH", "tarik", "autimatic", "Stewie2K", "60"},</string>
                        <string>{"EnVyUs", "SIXER", "RpK", "ScreaM", "Happy", "xms", "80"},</string>
                        <string>{"NiP", "f0rest", "GeT_RiGhT", "Xizt", "draken", "REZ", "60"},</string>
                        <string>{"BIG", "gob b", "LEGIJA", "tabseN", "keev", "nex", "60"},</string>
                        <string>{"mousesports", "oskar", "chrisJ", "suNny", "STYKO", "ropz", "60"},</string>
                        <string>{"Liquid", "nitr0", "jdm64", "stanislaw", "EliGE", "Twistzz", "60"},</string>
                        <string>{"Heroic", "MODDII", "Snappi", "es3tag", "JUGi", "niko", "60"},</string>
                        <string>{"CLG", "FNS", "reltuC", "Rickeh", "koosta", "nahtE", "60"},</string>
                        <string>{"Renegades", "jks", "AZR", "NAF", "USTILO", "Nifty", "60"},</string>
                        <string>{"HellRaisers", "ANGE1", "Zero", "woxic", "DeadFox", "ISSAA", "60"},</string>
                        <string>{"FlipSid3", "markeloff", "B1ad3", "WorldEdit", "wayLander", "electronic", "60"},</string>
                        <string>{"Space Soldiers", "MAJ3R", "XANTARES", "Calyx", "paz", "ngiN", "60"}}</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CSGO_Score_Generator.My.MySettings>
    </applicationSettings>
</configuration>